{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}  

{% block content %}
<body class="text-center" style = "padding-top:0%;">  
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <form method="POST" class="form-signin" style="color: white; margin:auto;">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="static/main_log.png" alt="logo" style="width: 150px; height: 150px; border-radius: 50%; margin-bottom: 0%;">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Sign In To Your Account
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Enter Password") }}

            <br>


            <div class="checkbox mb-3">
                <h6>Don't have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary", ) }}

        </form>
    </div>
</body>
{% endblock %}
